<div class="content-overview">
    <div class="inner-style">
        <h2 class="content-heading"><span class="style-scope ">6</span>. <span
                class="style-scope google-codelab-step">Angular Elements</span></h2>
        <p>Starting Angular v6, we can use regular Angular components as web components and load these components inside
            any of the frameworks/libraries or a JavaScript code.</p>
        <p>This is achieved using <a href="https://next.angular.io/guide/elements" target="_blank">Angular Elements</a>.
            Angular Elements is an Angular package that helps us create regular Angular components as Web components
            (custom elements) and use them in other technologies.</p>
        <div style="text-align: center; "><img src="../../assets/images/ngEle.png" alt="AngularElements.png"></div>
    </div>
</div>