<div class="content-overview">
    <div class="inner-style">
        <h2 class="content-heading"><span class="style-scope ">1</span>. <span
                class="style-scope google-codelab-step">Overview</span></h2>
        <p>In this coding activity, you'll learn how to build web components using Angular elements. You'll create a
            custom element, a search bar. The finished element will look something like this:</p>
        <p> You will be able to use it simply like:</p>
        <pre class="icon-code-style"><code>
            <span class="content-tag">&lt;ng-search-bar&gt;&lt;/ng-search-bar&gt;</span>
        </code></pre>
        <p> We will cover each topic like web component specifications, creating a custom element,
            Angular elements, and use those to create web components in Angular.</p>
        <p> Let us start by looking at the pre-requisites for getting started with creating your first web component in
            Angular.</p>
    </div>

</div>
