<!-- <div class="drawer">
    <div class="inner-style">
        <div class="toc-item style-scope google-codelab x-scope paper-item-0 iron-selected" role="option" tabindex="0"
            aria-disabled="false" aria-selected="true">


            <i class="style-scope google-codelab">1</i><span class="style-scope google-codelab">Overview</span>
        </div>
    </div>
</div> -->

<section class="menu-content level-1">


    <div class="mobile-distributor-divider"></div>
    <section class="menu-list-container">
        <ul class="menu-list">
            <!-- <li (click)="clickoverview" class="gray-background list-items" tabindex="0" routerLink="/overview">Overview</li>
            <li (click)="clickprereq()" class="gray-background list-items" routerLink="/prerequisites">Pre-requisites <i class="icon-nextscreen-arrow icon-arrow"></i></li>
            <li (click)="clickgetsetup()" routerLink="/gettingsetup" class="list-items" id="gettingsetup" tabindex="0">Getting set up</li>
            <li (click)="clickwebstandards()"class="list-items" tabindex="0" routerLink="/webstandards">Web component standards</li>
            <li (click)="clickcustomelement()" class="list-items" tabindex="0" routerLink="/customelement">Build custom element without any framework
            </li>
            <li (click)="clickangularelements()" class="list-items" tabindex="0" routerLink="/angularelements">Angular Elements</li>
            <li (click)="clickbuildwithngelement()" class="list-items" tabindex="0" routerLink="/buildwithngelement">Build custom element with Angular elements
            </li>
            <li (click)="clickpublish()" class="list-items" tabindex="0" routerLink="/publish">Publish to npm</li>
            <li (click)="clickusewebcomponent()" class="list-items" tabindex="0" routerLink="/usewebcomponent">Use in other frameworks</li> -->
            <li id="overview" class="gray-background list-items" tabindex="0" routerLink="/overview">Overview</li>
            <li class="gray-background list-items" routerLink="/prerequisites">Pre-requisites <i
                    class="icon-nextscreen-arrow icon-arrow"></i></li>
            <li routerLink="/gettingsetup" class="list-items" id="gettingsetup" tabindex="0">Getting set up</li>
            <li class="list-items" tabindex="0" routerLink="/webstandards">Web component standards</li>

            <li class="list-items" tabindex="0" routerLink="/angularelements">Angular Elements</li>
            <li class="list-items" tabindex="0" routerLink="/createwithngelement">Create custom element with Angular
                elements
            </li>
            <li class="list-items" tabindex="0" routerLink="/buildwebcomponent">Build our Web Component
            </li>
            <li class="list-items" tabindex="0" routerLink="/publish">Publish to npm</li>
            <li class="list-items" tabindex="0" routerLink="/usewebcomponent">Use in other frameworks</li>
            <li class="list-items" tabindex="0" routerLink="/sourcecode">Source Code</li>
        </ul>
    </section>
</section>